PORT=4000
NODE_ENV=production
FRONTEND_URL="https://basera.netlify.app"
ADMIN_FRONTEND_URL="https://basera-admin.netlify.app"
ALLOWED_ORIGINS="https://basera.netlify.app,https://basera-admin.netlify.app,https://baseradu.in,https://admin.baseradu.in"

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/basera_db?schema=public"

STUDENT_JWT_SECRET="basera_student_dev_secret_key_min_32_chars_long_123"
ADMIN_JWT_SECRET="basera_admin_dev_secret_key_min_32_chars_long_456"

RESEND_API_KEY=""
EMAIL_FROM="Basera <verify@baseradu.in>"

SMS_API_KEY=""
SMS_SENDER_ID="BASERA"

FIREBASE_PROJECT_ID=""
FIREBASE_CLIENT_EMAIL=""
FIREBASE_PRIVATE_KEY=""
FIREBASE_SERVICE_ACCOUNT_JSON=""
